body {
    background-color: #f0fff0;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    padding: 40px;
}

.video-container {
    margin: 25px auto;
}

.animated-box {
    width: 230px;
    height: 48px;
    margin: 28px auto;
    background-color: #7b68ee;
    line-height: 48px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    position: relative;
}
